{% extends 'base.html' %}
{% load static %}

{% block title %}
Премия | {{ block.super }}
{% endblock %}

{% block content %}

<!-- Хлебный крошки  -заголовок -->
<section id="birds-bg" class="breadcump" style="height: 30vh;">
    <div class="">
        <div class="content">
            <h2 class="page-header text-center">
                {{ award.award_title }}
            </h2>
            <nav aria-label="breadcrumb text-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Главная</a></li>
                    <li class="breadcrumb-item active">Премия</li>
                </ol>
            </nav>
        </div>
    </div>
</section>
<!-- Start Content -->
<section class="content-start mb-5">

    <div class="container">
        <div class="content-block mt-5">

            <!-- Табы -->
            <div class="mt-5 my-tabs">
                <ul class="nav nav-tabs md-tabs fw-400" id="myTabEx" role="tablist">
                    <li class="nav-item fw-400">
                        <a class="nav-link active show fw-400" id="home-tab-ex" data-toggle="tab" href="#home-ex"
                            role="tab" aria-controls="home-ex" aria-selected="true">Премия</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab-ex" data-toggle="tab" href="#profile-ex" role="tab"
                            aria-controls="profile-ex" aria-selected="false">Жюри</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="contact-tab-ex" data-toggle="tab" href="#contact-ex" role="tab"
                            aria-controls="contact-ex" aria-selected="false">Участие</a>
                    </li>
                </ul>

                <!-- Табы контент -->
                <div class="tab-content pt-5 p-3 wow fadeIn" id="myTabContentEx">

                    <!-- Описание премии -->
                    <div class="tab-pane fade active show wow fadeIn" id="home-ex" role="tabpanel"
                        aria-labelledby="home-tab-ex">
                        <div class="row" class="transition-fade">
                            <div class="col-md-5">
                                <div class="my-border">
                                    <img src="{{ award.award_image.url }}" alt="bird" class="my-img">
                                </div>
                            </div>
                            <div class="col-md-7">
                                <h3 class="text-center mt-5">{{ award.award_title }}</h3>
                                <p class="mt-5">{% autoescape off %} {{ award.award_description }} {% endautoescape %}
                                </p>
                            </div>
                        </div>

                        <div class="row mt-5 perspective-500">

                            {% for icon in icon_block %}
                            <div class="col-md-6 col-lg-4">
                                <div class="icon-card text-center peach-gradient text-white mt-4">
                                    <div class="icon-in-card icons-4">
                                        {% autoescape off %} {{ icon.icon }} {% endautoescape %}
                                        <h5 class="mt-4">
                                            {{ icon.title }}
                                        </h5>
                                        <p class="mt-4">
                                            {{ icon.description }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}

                        </div>


                    </div>

                    <!-- Жюри -->
                    <div class="tab-pane fade wow fadeIn" id="profile-ex" role="tabpanel"
                        aria-labelledby="profile-tab-ex">
                        <h3 class="text-center mt-5">{{ award.jury_title }}</h3>
                        <p class="mt-5">{% autoescape off %} {{ award.jury_description }} {% endautoescape %}</p>

                        <div class="row mt-5 jury mb-5">

                            {% for jury in jurys %}
                            <div class="col-md-6 col-lg-4">
                                <!-- Card -->
                                <div class="card mt-4">
                                    <!-- Card image -->
                                    <div class="view overlay">
                                        <img class="card-img-top lazy" src="{% static 'assets/img/mini_bird.png' %}" data-src="{{ jury.avatar.url }}" alt="{{ jury.name }}">
                                        <a href="#!">
                                            <div class="mask rgba-white-slight"></div>
                                        </a>
                                    </div>
                                    <!-- Card content -->
                                    <div class="card-body ">
                                        <!-- Title -->
                                        <h4 class="card-title">{{ jury.user.first_name }}</h4>
                                        <!-- Text -->
                                        <h6 class="pb-3">{{ jury.professional }}</h6>
                                        <p class="card-text">
                                            {{ jury.preview }}
                                        </p>
                                        <!-- Button -->
                                        <a href="#" class="btn peach-gradient btn-block" data-toggle="modal"
                                            data-target="#jury{{ jury.id }}">Интервью <i
                                                class="icofont-ui-video-chat"></i></a>
                                         <div class="modal fade" id="jury{{ jury.id }}" tabindex="-1" role="dialog"
                                aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title w-100" id="myModalLabel">{{ jury.user.first_name }} -
                                                интервью</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="embed-responsive embed-responsive-16by9">
                                                {% autoescape off %} {{ jury.interview }} {% endautoescape %}
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn peach-gradient"
                                                data-dismiss="modal">Закрыть <i class="icofont-ui-close"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                    </div>

                                </div>
                                <!-- Card -->

                            </div>
                            <!-- Modals -->

                            {% endfor %}

                        </div>

                    </div>

                    <!-- Участие -->
                    <div class="tab-pane fade wow fadeIn" data-wow-duration="3s" id="contact-ex" role="tabpanel"
                        aria-labelledby="contact-tab-ex">
                        <h3 class="text-center mt-5">{{ award.involvement_title }}</h3>
                        <p class="mt-5">{% autoescape off %} {{ award.involvement_description }} {% endautoescape %}</p>
                    </div>
                </div>
            </div>
            <hr>
            {% include 'includes/award_requests.html' %}

        </div><!-- Container -->
    </div>
</section>


<!-- Central Modal Small -->

{% endblock %}