{% load static %}
{% load thumbnail %}

<div class=" col-lg-6 mt-5">
    <div class="row m-1 border border-light shadow-sm">
        <div class="col-lg-4 text-center p-3">
            {% thumbnail i.avatar "200x200" crop="center" as im %}
            <img class="lazy m-auto rounded-circle shadow"
                 src="{% static 'assets/img/mini_bird.png' %}" data-src="{{ im.url }}"
                 alt="" style="min-width: 80%; max-width: 100%;">
            {% endthumbnail %}
            <img class="lazy mt-4" src="{% static 'assets/img/mini_bird.png' %}" data-src="{{ i.company_logo.url }}"
                 alt="" style="max-width: 100%;">
            <div class="z-depth-0 text-center mt-3">
                <i class="icofont-clock-time"></i> {{ i.speaking_time }}
            </div>
        </div>
        <div class="col-lg-8 p-3">
            <h4 class="h4-responsive font-weight-bold">{{ i.name|title }}</h4>
            <div>{% autoescape off %} {{ i.bio }} {% endautoescape %}</div>
        </div>
        <div class="z-depth-0 col-12">
            <p class="mb-0 text-center">
                {% if request.user.is_authenticated %}
                    <a href="{{ i.presentation.url }}" class="btn peach-gradient btn-block waves-effect waves-light"
                       target="_blank">Презентация <i class="icofont-presentation"></i>
                    </a>
                {% else %}
                    <div class="alert alert-danger text-center mt-3" role="alert">
                        Презентация доступна только зарегистрированным пользователям
                    </div>
                {% endif %}
            </p>
        </div>
    </div>

</div>

